<footer>
    <div class="container-fluid">
        <hr>
        <div class="desktop">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-sm-3">
                    <ul>
                        <li>
                            <a href=#>استارتر برای بازی سازان</a>
                        </li>
                        <li>
                            <a href=#>استارتر برای حمایت کنندگان</a>
                        </li>
                        <li>
                            <a href=#>سوالات متداول</a>
                        </li>
                        <li>
                            <a href=#>تماس با ما</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-lg-3 col-md-6 col-sm-3">
                    <ul>
                        <li>
                            <a href=#>مجله بازی نما</a>
                        </li>
                        <li>
                            <a href=#>بازی نما </a>
                        </li>
                        <li>
                            <a href=#>بازی نما استارتر</a>
                        </li>
                        <li>
                            <a href=#>توپخونه</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-lg-3 col-md-6 col-sm-3"></div>
                <div class="col col-lg-3 col-md-6 col-sm-3 center">
                    <img src="../../assets/img/icon_logo_bw.png">
                    <div class="social-media-container">
                        <a href=#>
                            <img src="../../assets/img/icon_ic_social_telegram.svg">
                        </a>
                        <a href=#>
                            <img src="../../assets/img/icon_ic_social_instagram.svg">
                        </a>
                        <a href=#>
                            <img src="../../assets/img/icon_ic_social_facebook.svg">
                        </a>
                        <a href=#>
                            <img src="../../assets/img/icon_ic_social_aparat.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12 col-md-12 col-12-sm copy-right">
                    <p> این سایت را گیمرهای یارا موبایل با عشق ساخته اند.</p>
                </div>
            </div>
        </div>
    </div>
</footer>