.center {
    text-align: center;
}
.social-media-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
        margin: 20px 10px;
    }
}

footer {
    a {
        font-size: 12px;
        color: #9e9e9e;
        font-family: "ShabnamLight";
    }
}

.desktop {
    margin: 30px 15px;
}

.copy-right {
    text-align: left;
    margin-top: 10px;
    p {
        font-size: 10px;
    }
}
