.support{
    background-color: #f5f5f5;
}
ol{
    list-style-type: decimal;
    li{
        font-weight: bold;
        font-size: 14px;
    }
}
p{
    margin-bottom: 10px;
    font-size: 14px;
}
.header-support{
    background-color: #231f43;
    padding: 30px;
    color: #fff;
    h1{
        margin-right:150px;
    }
}

.content-support{
    padding: 100px;
    background-color: #f5f5f5;
    color: #212121;
    font-size: 14px;
}
