<div class="questions">
    <div class="header-questions">
        <h1>سوالات متداول</h1>
    </div>
    <div class="container-fluid">
        <div class="container content-questions">
            <ol>
                <li>استارتر بازی نما چیست؟</li>
            </ol>
            <p>استارتر ، با رویکرد تخصصی در صنعت بازی کشور، اقدام به جذب سرمایه جمعی و حمایت از توسعه دهندگان ایرانی در
                این
                حوزه نموده است.
            </p>
            <p>&nbsp;</p>
            <p>
                جذب سرمایه جمعی در حوزه بازی، در واقع کمپینی جهت دریافت حمایت مالی افراد مختلف جامعه به خصوص کاربران
                فعال در
                حوزه بازی، از یک پروژه بازی سازی، از طریق پرداخت بخشی از سرمایه ی مورد نیاز برای اجرای آن پروژه می باشد.
                توسعه دهندگان در بازی نما به عنوان صاحب ایده، ایده خود را مطرح کرده و کمپین خود را راه اندازی می نمایند،
                تا
                افراد و گروه ها از طریق حمایت های مالی خود سرمایه ی مورد نیاز وی را تامین کنند.
            </p>
            <p>&nbsp;</p>
            <p>در پروژه های جذب سرمایه بازی نما، سه گروه اصی مشارکت دارند:</p>
            <p>&nbsp;</p>
            <p>صاحب ایده یا بازی ساز، که شروع کننده ی پروژه است.</p>
            <p>افراد یا گروه هایی که ایده، یا بازی ساخته شده را حمایت می کنند.</p>
            <p>سامانه (بازی نما) ، که این دو گروه را به هم معرفی می کند.</p>
            <ol start="2">
                <li>نحوه تعریف یک پروژه</li>
            </ol>
            <p>هدف بازی نما از ایجاد استارتر، حمایت از بازی هایی است که بازی سازان به هر دلیل امکان تکمیل، تجاری سازی و
                تبلیغ آن را نداشته و نیازمند حمایت مالی هستند. بازی سازان می توانند از طریق پنل توسعه دهندگان بازی نما،
                بازی
                خود را در بخش استارتر بارگذاری نمایند.
            </p>
            <p>
                بازی هایی که در استارتر معرفی می شوند، باید دارای "فازبندی مشخص"، "میزان حمایت مالی مشخص برای هر بخش"و
                "مبلغ
                هدف" مشخص باشند.
            </p>
            <ol start="3">
                <li>استارتر چه پروژه هایی را می پذیرد؟</li>
            </ol>
            <p>
                در حال حاضر بازی نما، در بخش استارتر خود، صرفا به معرفی پروژه های بازی سازی در قالب موبایل و pc می
                پردازد.
            </p>
            <ol start="4">
                <li>آیا استارتر از مبالغ جمع‌آوری شده هزینه‌ای دریافت می‌کند؟</li>
            </ol>
            <p>
                در حال حاضر بازی نما 7 درصد از مبالغ جمع آوری شده برای بازی ها را به عنوان کارمزد دریافت می کند. همچنین،
                بازی نما در راستای حمایت از کاربران خود، که در استارتر از بازی ها حمایت می کنند، امتیاز ویژه کلوپ بازی
                نما+
                را در نظر گرفته است.
            </p>
            <p>&nbsp;</p>
            <ol start="5">
                <li>آیا استارتر، به صورت مستقیم به حمایت مالی از بازی می پردازد؟</li>
            </ol>
            <p>
                در حقیقت بازی نما علاوه بر معرفی بازی در استارتر، با اعطای امتیاز کلوپ بازی نما+ به کاربران حامی،
                کاربران را
                تشویق به حمایت از پروژه ها می کند و از این طریق به حمایت از پروژه ها می پردازد.
            </p>
            <ol start="6">
                <li>
                    آیا از کسانی که به بازی ها کمک می‌کنند، کارمزدی دریافت می شود؟
                </li>
            </ol>
            <p>
                خیر، در حال حاضر سیستم استارتر بازی نما به گونه ای است، که تمام حمایت های مردمی به حساب توسعه دهنده
                منتقل
                خواهد شد.
            </p>
            <p>
                این نکته باید مد نظر قرار داده شود، که در صورت پرداخت وجوه حمایتی از طریق پرداخت موبایلی یا پرداخت کافه
                بازاری ، سهم مجموعه های پرداخت از وجه جمع آوری شده که به حساب توسعه دهنده واریز می شود، کسر خواهد شد.
            </p>
            <ol start="7">
                <li>حامیان از چه طریقی می‌توانند مبلغ مشارکت خود در ساخت بازی را پرداخت کنند؟</li>
            </ol>
            <p>کلیه حامیان می توانند:</p>
            <ul>
                <li>با استفاده از کارت‌های عضو شبکه شتاب که رمز اینترنتی آنها فعال شده باشد</li>
                <li>از طریق سیم کارت (همراه اول، ایرانسل)</li>
                <li>از طریق اعتبار کافه بازاری</li>
                <li>از طریق اعتبار موجود در حساب کاربری</li>
            </ul>
            <p>&nbsp;</p>
            <p>از بازی های استارتر حمایت کنند. (این امکان وجود دارد که بسته به شرایط، دسترسی به هر یک از درگاه ها، امکان
                پذیر نباشد)</p>
            <ol start="8">
                <li>عضویت در استارتر به عنوان سازنده پروژه بازی نما با چه شرایطی صورت می‌پذیرد؟</li>
                <p>عضویت در استارتر بازی نما به عنوان سازنده پروژه به دو شکل حقیقی و حقوقی امکان پذیر می باشد، که در هر
                    یک
                    از این موارد لازم است اطلاعات مربوط به آن در پنل توسعه دهندگان بازی نما، قرار داده شود. همچنین، تیم
                    های
                    بازی سازی، قادر خواهند بود از طریق این بخش به معرفی اعضای تیم خود در هر پروژه بپردازند.</p>
            </ol>
            <ol start="9">
                <li>آیا در استارتر بازی نما، امکان تبلیغ وجود دارد؟</li>
                <p>خیر، در حال حاضر استارتر ، فضایی است برای بازی سازان ایرانی که برای حمایت مالی در تولید یا گسترش
                    محصول ،
                    در اختیار ایشان قرار می دهد</p>
            </ol>
            <ol start="10">
                <li>آیا این امکان وجود دارد که بتوانم با حامیان پروژه ام تماس بگیرم؟</li>
                <p>بله. پس از موفقیت پروژه، اطلاعات تماس حامیان پروژه برای دریافت پاداش های تعیین شده توسط صاحبان پروژه،
                    در
                    اختیار ایشان قرار می گیرد. </p>
            </ol>
        </div>
    </div>
</div>