<div class="background-dialog">
  <div class="header-dialog">
    <div mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div>ورود / ثبت نام به بازی نما </div>
  </div>

  <div class="content-dialog" *ngIf="loginPage">
    <form [formGroup]="loginInfoStep1" (ngSubmit)="onSubmitStep1()">
      <label class="lable-dialog">شماره تلفن همراه </label>
      <input type="text" formControlName="mobile" placeholder="09+++++++++" class="input-dialog">
      <button class="btn-filled" type="submit"> دریافت کد فعالسازی</button>
    </form>
  </div>

  <div class="content-dialog" *ngIf="verificationCodePage">
    <form [formGroup]="loginInfoStep2" (ngSubmit)="onSubmitStep2()">
      <label class="lable-dialog">کد فعالسازی </label>
      <input type="text" formControlName="verification_code" class="input-dialog">
      <button class="btn-filled" type="submit"> ارسال </button>
      <div class="code-container">
        <p> کدی دریافت نکردید ؟ </p>
        <a href="#"> ارسال مجدد کد فعالسازی </a>
      </div>
    </form>
  </div>
</div>
