.background-dialog {
  background-color: #535166;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
  box-shadow: 0px 1px 50px 0px #000000;
  color: #fff;
}

.header-dialog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .close-dialog {
    color: #bdbdbd;
  }
}

.content-dialog {
  padding: 20px 30px;

  .code-container {
    text-align: center;

    a {
      color: #ffcb05
    }
  }
}

.lable-dialog {
  color: #ffcb05;
  padding-bottom: 20px;
  font-weight: 700;
}

.input-dialog {
  text-align: right;
  background-color: #535166;
  font-family: "ShabnamFD";
  border: none;
  border-bottom: 3px solid #757575;
  outline: none;
  width: 100%;
  max-width: 300px;
  color: #fff;
  margin: 20px 0;
}

.btn-dialog {
  margin: 30px auto;
  text-align: center;
}

.btn-filled {
  text-align: center;
  border: none;
  width: 100%;
  margin: 10px auto;
  padding: 15px 50px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
}
