<div class="header-container">
  <header class="header">
    <a href="#" class="header-logo">
      <img alt="بازی نما استارتر" src="../../assets/img/icon_logo.png" class="header-logo-img">
    </a>

    <nav class="desktop-nav">
      <a href="#" routerLink="projects"> پروژه ها</a>
      <a href="#" routerLink="questions"> سوالات متداول </a>
      <a href="#" routerLink="support"> روند حمایت</a>
      <a *ngIf="!isLoggedIn()" (click)="openDialog()" class="btn-nav"> ورود / ثبت نام </a>
      <button *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <img src="../../assets/img/avatar.png" class="avatar-img">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="projects" *ngIf="nickname"> {{nickname.nickname}}</button>
        <button mat-menu-item routerLink="questions">پروفایل کاربری </button>
        <button mat-menu-item routerLink="support"> حمایت های من </button>
        <button mat-menu-item (click)="loggedOut()"> خروج </button>
      </mat-menu>
    </nav>
    <a href="#" class="header-btn"> بازی خود را ثبت کنید </a>

    <div class="mobile-nav">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="fa fa-chevron-down menu-toggle" aria-hidden="true"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="projects">پروژه ها</button>
        <button mat-menu-item routerLink="questions">سوالات متداول</button>
        <button mat-menu-item routerLink="support"> روند حمایت</button>
        <button mat-menu-item (click)="openDialog()">ورود / ثبت نام</button>
      </mat-menu>
    </div>

  </header>
</div>
