.header-container {
  width: 100%;
}

.header {
  position: relative;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.38), 0 4px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #3a3657;
}

.header-logo {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 170px;
  height: 70px;

  img {
    width: 170px;
    height: auto;
  }
}

.desktop-nav {
  display: flex;
  vertical-align: middle;
  align-items: center;

  a {
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    outline: 0;
    border: none;
    padding: auto;
  }

  a:hover {
    color: #ffcb05;
  }

  .btn-nav {
    background-color: #3a3657;
    color: #fff;
    border: none;
    margin: 0 25px;
  }

  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 25px;
  }
}

.header-btn {
  border-width: 2px;
  border-color: #ffcb05;
  border-style: solid;
  border-radius: 0px;
  color: #ffcb05;
  padding: 10px 15px;
  font-size: 14px;
  margin: 0 10px;
}

.mat-menu-trigger {
  background-color: #3a3657;
  border: none;
  outline: none;

  i {
    color: #ffcb05;
  }
}

@media only screen and (min-width: 850px) {
  .mobile-nav {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .desktop-nav {
    visibility: hidden;
    display: none;
  }
}
