.game-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header-projects {
    text-align: center;
    font-size: 30px;
    p {
        color: #bdbdbd;
        font-size: 12px;
    }
}
