<div class="container-fluid">
  <div class="container">
    <div class="header-projects">
      <h2>حامی مالی بازی‌ها باشید!</h2>
      <p>
        در بین بازی‌ها ایده ناب یا بازی با پتانسیلی دیدید؟ با پرداخت مبلغی هرچند کوچک از آن حمایت مالی کنید.
      </p>
    </div>
    <div class="game-container">
      <app-game-card *ngFor='let game of listOfGame' [gameInfo]="game">
      </app-game-card>
    </div>
  </div>
</div>
