.game-card {
  display: flex;
  flex-direction: column;
  background: #535166;
  width: 350px;
  margin: 10px;

  .avatar {
    position: relative;

    img {
      width: 100%;
    }
  }

  .game-card-datails {
    padding: 10px;

    .game-card-details-name {
      margin-bottom: 10px;
    }
  }

  .like-panel {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #ffcb05;
    color: #000;

    i {
      color: red;
      padding-left: 5px;
      vertical-align: middle;
    }
  }

  .game-card-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 5px;

    .game-card-money-container {
      display: flex;
      flex-direction: column;
      text-align: center;

      div {
        margin: 5px;
      }
    }

    .game-card-support-container {
      display: flex;
      flex-direction: column;
      text-align: center;

      div {
        margin: 5px;
      }
    }
  }
}
