<div class="game-card" (click)="detailsGame(gameInfo.id)">
  <div class="avatar">
    <img [src]="imgSrc">
    <div class="like-panel">
      <i aria-hidden="true" class="fa fa-heart"></i>
      <div class="likes">9</div>
    </div>
  </div>
  <div class="game-card-datails">
    <div class="game-card-name">{{gameInfo.name}}</div>
    <hr>
    <div class="progressbar">
      <mat-progress-bar mode="determinate" [value]="goalAchievement"></mat-progress-bar>
    </div>
  </div>
  <div class="game-card-footer">
    <div class="game-card-money-container">
      <div class="game-card-money">{{gameInfo.invest_goal.achieved}}</div>
      <div class="game-card-money-label"> جمع آوری شده</div>
    </div>
    <div class="game-card-support-container">
      <div class="game-card-support"> {{gameInfo.invest_goal.achievement_percent}}</div>
      <div class="game-card-support-label">حمایت شده </div>
    </div>
  </div>
</div>
