<div class="container-fluid">
  <div class="container">
    <div class="game-details-container">
      <h2 class="game-name">{{gameDetails.name}}</h2>
      <p class="game-description">{{gameDetails.short_description}}</p>
      <div class="row game-details-background">
        <div class=" col col-lg-6 col-md-6 col-sm-12">
          <div class="game-details-avatar">
            <img [src]="imgSrc">
          </div>
        </div>

        <div class=" col col-lg-6 col-md-6 col-sm-6">
          <div class="details-container">
            <div class="progressbar">
              <mat-progress-bar mode="determinate" [value]="goalAchievement"></mat-progress-bar>
            </div>
            <div class="money">
              <div class="money-goal">از {{gameDetails.invest_goal.amount}}</div>
              <div class="money-achieved">{{gameDetails.invest_goal.achieved}}</div>
              <div class="money-label"> جمع آوری شده</div>
            </div>
            <div class="support">
              <div class="support">{{gameDetails.invest_goal.participation}}نفر</div>
              <div class="support-label"> حمایت کننده</div>
            </div>
            <button class="btn-filled">
              <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
              حمایت از این بازی
            </button>
            <div class=" btn-container">
              <button class="btn-filled" id="download-btn">دانلود بازی
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
              <button class="btn " id="share-btn"> اشتراک
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
