.game-details-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.game-details-background {
  padding: 20px;
}

.game-details-avatar {
  margin: 5px;

  img {
    width: 100%;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .progressbar {
    background-color: #ffcb05;
    margin-bottom: 10px;
  }

  .money {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .support {
    display: flex;
    flex-direction: column;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}


.btn {
  text-align: center;
  font-family: "ShabnamBold";
  border: 3px solid #ffcb05;
  padding: 10px 5px;
  color: #ffcb05;
  font-size: 15px;
  margin: 10px 5px;
  font-weight: bold;
}

.btn-filled {
  text-align: center;
  background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
  padding: 10px 5px;
  color: #0b2251;
  font-size: 15px;
  border: none;
  outline: none;
  margin: 10px 5px;
  font-weight: bold;

  i {
    color: red;
    vertical-align: middle;
  }
}

#share-btn {
  background-color: transparent;
  width: 48%;
}

#download-btn {
  width: 48%;

  i {
    color: #0b2251;
  }
}
