p {
    color: #bdbdbd;
}

.section-1 {
    background-color: #535166;
    position: relative;
    margin: 50px 0;
    padding: 50px 80px;

    h2 {
        padding-bottom: 25px;
    }

    .decoration {
        position: absolute;
        top: -25px;
        left: -30px;

        img {
            width: 250px;
            height: auto;
        }
    }
}

.section-2 {
    text-align: center;
}

.btn {
    text-align: center;
    margin: 20px auto;
    padding: 15px 50px;
    width: 50%;
    font-family: "ShabnamBold";
    border: 3px solid #ffcb05;

    a {
        color: #ffcb05;
    }
}

.btn-filled {
    text-align: center;
    margin: 20px auto;
    padding: 15px 50px;
    width: 50%;
    background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);

    a {
        color: #0b2251;
    }
}

.section-3 {
    text-align: center;
    padding: 100px 0;

    p {
        padding: 15px;
    }

    .responsive-img {
        width: 80%;
        height: auto;
    }
}

.section-4 {
    position: relative;
    background: #535166;
    padding: 50px 100px;
    width: 100%;
    text-align: center;

    h2 {
        color: #fff;
    }
}
.left-decoration {
    position: absolute;
    top: 25px;
    right: -10px;
    width: 15vw;
    max-width: 220px;
    height: auto;
}
.right-decoration {
    position: absolute;
    left: -10px;
    bottom: -25px;
    width: 10vw;
    max-width: 110px;
    height: auto;
}

@media (max-width: 850px) {
    .section-1 {
        padding: 10px 25px;
        .decoration {
            img {
                width: 150px;
                height: auto;
            }
        }
    }

    .section-4 {
        padding: 70px 25px;
    }
}
