<div class="container-fluid">
    <div class="container">
        <div class="row">
            <section class="section-1">
                <div class="col col-lg-8 section-content">
                    <h2>حمایت از بازی های ایرانی </h2>
                    <p>استارتر، جامعه حمایت از بازی‌های ایرانی و بازی‌سازی ملی است. گیمرها، شرکت‌ها و تیم‌های بازی‌سازی
                        معتبر،
                        از طریق این پلتفرم، به حمایت مالی از بازی‌ها و تیم های جوان بازی ساز ایرانی می پردازند، نظرات و
                        امتیازات
                        خود را برای هر بازی ثبت می کنند، به بازی‌سازان بازخور مثبت یا منفی می‌دهند و از این طریق در جهت
                        رشد
                        و
                        توسعه جامعه بازی سازی ایرانی گام بر می دارند.

                        در هر سطح از توسعه بازی (از ایده تا تجاری سازی)، استارتر حامی بازی‌سازان و دریچه‌ای برای ورود به
                        دنیای
                        بازی‌سازان حرفه ای است.</p>
                </div>
                <div class="decoration">
                    <img src="../../assets/img/shapes1.svg">
                </div>
            </section>
        </div>
        <div class="row">
            <section class="section-2 col col-12-g col-md-12 col-sm-12">
                <h2>حامی مالی بازی‌ها باشید!</h2>
                <p>در بین بازی‌ها ایده ناب یا بازی با پتانسیلی دیدید؟ با پرداخت مبلغی هرچند کوچک از آن حمایت مالی کنید.
                </p>
            </section>
            <div class="col col-12-g col-md-12 col-sm-12">
                <div class="btn-filled">
                    <a href="#">مشاهده همه بازی ها</a>
                </div>
            </div>
        </div>
        <div class="section-3">
            <h2>استارتر در تمام مراحل همراه شماست</h2>
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4">
                    <img src="../../assets/img/1.png" class="responsive-img">
                    <h3>بسازید</h3>
                    <p>در هر مرحله ای از ساخت بازی که هست، حتی اگر فقط ایده ای جذاب برای بازی سازی دارید، پروژه خود را
                        در استارتر، استارت بزنید.</p>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4">
                    <img src="../../assets/img/2.png" class="responsive-img">
                    <h3>حمایت شوید</h3>
                    <p>با ورود به استارتر، به دنیای گیمرها و بازی سازان ایرانی وارد شدید. با مشاوره و همراهی تیم بازی
                        نما، بهترین معرفی را از بازی خود ارائه کنید، بهترین پاداش ها را برای هر بخش قرار دهید و منتظر
                        بهترین نتیجه و بیشترین حمایت ها باشید.</p>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4">
                    <img src="../../assets/img/3.png" class="responsive-img">
                    <h3>لانچ کنید</h3>
                    <p>معرفی بازی در استارتر بازی نما یعنی، قبل از ساخته شدن بازی، حمایت گیمرها را بدست می آورید. حمایت
                        مالی گیمرها به شما کمک می کنه تا ایده تون رو به یک بازی پرطرفدار تبدیل کنید.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <div class="btn">
                        <a href="#" btn>روند حمایتی </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="section-4">
                <h2>در حمایت از بازی‌ها شریک شوید</h2>
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-6">
                        <div class="btn-filled">
                            <a href="#">حمایت از بازی ها</a>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6">
                        <div class="btn">
                            <a href="#"> ثبت بازی جدید</a>
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/shapes_left.svg" class="right-decoration">
                <img src="../../assets/img/shapes_right.svg" class="left-decoration">
            </section>
        </div>
    </div>
</div>