/* You can add global styles to this file, and also import other style files */
* {
  font-family: "ShabnamFD", "Shabnam";
}

body {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  text-align: right;
  direction: rtl;
  background-image: linear-gradient(to bottom, #231f43, #231f43, #03060f, #03060f);
  background-repeat: no-repeat;
  background-position: center;
}

p,
body {
  font-size: 16px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.custom-dialog .mat-dialog-container {
  padding: 0;
  background-color: #231f43;
}

@import "~@angular/material/theming";
$custom-typography: mat-typography-config($font-family: "ShabnamFD",
);
@include mat-core($custom-typography);

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

img {
  vertical-align: middle;
}

@media (max-width: 850px) {

  p,
  body {
    font-size: 12px;
    line-height: 20px;
  }

  h1,
  h2 {
    font-size: 20px;
  }
}

.mat-progress-bar-buffer {
  background-color: #ffcb05;
}

.mat-progress-bar-fill::after {
  background-color: #39313d;
}

.cdk-overlay-connected-position-bounding-box {
  width: 100vw;
  z-index: 1000;
  padding: 10px;
  text-align: right;
  background: rgba(35, 31, 67, 0.7);

}

.mat-menu-panel {
  background: transparent;
  width: 100vw;
  text-align: right
}

.mat-menu-item {
  color: #fff;
  text-align: right !important;
}

.mat-elevation-z4 {
  box-shadow: none;
}
